<div class="col-md-12">
    <div class="col-md-5">
        <div ui-view></div>
    </div>
    <div class="col-md-7">
        <ya-map class="map" ya-zoom="15" ya-behaviors="default" ya-after-init="mainVm.initMap($target)"
                ya-event-click="mainVm.mapClick($event)" ya-center="{{ mainVm.center }}">
            <ya-toolbar ya-name="zoomControl"></ya-toolbar>
            <ya-cluster
                    ya-options="{groupByCoordinates:false,clusterDisableClickZoom: true,gridSize:80}">
                <ya-geo-object ng-repeat="object in mainVm.geoObjects" ya-source="object"></ya-geo-object>
            </ya-cluster>
        </ya-map>
    </div>
</div>
