<div class="col-md-12">
    <br/><br/>
    <tabset justified="true">
        <tab heading="Карта" disabled="tab.map.disable" active="tab.map.active">
            <div class="col-md-3">
                <div ui-view></div>
            </div>
            <div class="col-md-9">
                <br/><br/>
                    <ya-map class="map" ya-zoom="12" ya-behaviors="default" ya-after-init="map.afterInit($target)"
                            ya-event-click="map.mapClick($event)" ya-center="{{ map.center }}">
                        <ya-toolbar ya-name="zoomControl"></ya-toolbar>
                        <ya-cluster
                                ya-options="{groupByCoordinates:false,clusterDisableClickZoom: true,gridSize:80}">
                            <ya-geo-object ng-repeat="object in map.geoObjects" ya-source="object"></ya-geo-object>
                        </ya-cluster>
                    </ya-map>

            </div>
        </tab>
        <tab heading="Список" disabled="tab.list.disable" active="tab.list.active">
            <br/>
            <h3>
                <ng-pluralize count="model.pets.length" when="petLocale"></ng-pluralize>
            </h3>
            <pf-list></pf-list>
            <pagination class="pagination-sm"
                        total-items="pagination.totalItems"
                        num-pages="pagination.numOfPages"
                        page="pagination.currentPage"
                        max-size="pagination.maxSize"
                        items-per-page="pagination.pageSize"
                        boundary-links="true"
                        ng-if="pagination.show"></pagination>
        </tab>
    </tabset>
</div>
