<div>
    <div class="modal-body row">
        <div class="col md-12" ng-repeat="comment in comments">
            {{comment.user.username}}  <em>{{comment.time_create}}</em><br/>
            {{comment.content}}
            <hr/>
            <pf-answers answers="comment.answers" id="{{comment.id}}"></pf-answers>
        </div>
    </div>
    <div class="modal-body row">
        <div ng-repeat="error in form.errors">
            {{error}}
        </div>
        <textarea class="form-control" ng-model="form.content"></textarea>
        <br/>
        <button class="btn btn-info" ng-click="sendComment(form.content)">Отправить комментарий</button>
    </div>
</div>
