<div ng-repeat="pet in pagination.pagedItems">
    <div class="col-lg-3" ng-if="pet">
        <div class="view view-fifth">
            <pf-list-gallery images="pet.images"></pf-list-gallery>
            <div class="mask">
                <br/>
                <table>
                    <tr><h3>#{{pet.id}}</h3></tr>
                    <tr>
                        <td>{{model.header.breed}}</td>
                        <td>{{pet.breed}}</td>
                    </tr>
                    <tr>
                        <td>{{model.header.name}}</td>
                        <td>{{pet.name}}</td>
                    </tr>
                    <tr>
                        <td>{{model.header.pet}}</td>
                        <td>{{pet.pet_id}}</td>
                    </tr>
                    <tr>
                        <td>{{model.header.age}}</td>
                        <td>{{pet.age_id}}</td>
                    </tr>
                    <tr>
                        <td>{{model.header.sex}}</td>
                        <td>{{pet.sex}}</td>
                    </tr>
                </table>
                <a href="javascript:void(0)" class="btn-info btn-sm" ng-click="onMap(pet)">Показать на карте</a>
                <a class="btn-info btn-sm" ui-sref="detail.modal({id: pet.id})">Подробнее</a>
            </div>
        </div>
    </div>
</div>



